
@{
    ViewData["Title"] = "Contact";
}
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Contact Us</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->
<section id="contact-page" class="container">
    <div class="row">
        <div class="col-sm-8">
            <h4>Contact Form</h4>
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                    </div>
                </div>
            </form>
        </div><!--/.col-sm-8-->
        <div class="col-sm-4">
            <h4>Our Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.47041569054!2d-80.30112092080964!3d25.78246176245072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sau!4v1451333036637" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114610.542020448!2d-81.86186996287579!3d26.14525221939364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dae19b73c2d7ad%3A0x673f5318d72c9aaa!2sNaples%2C+FL%2C+USA!5e0!3m2!1sen!2sau!4v1451332948802" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><!--/.col-sm-4-->
    </div>
</section><!--/#contact-page-->